  <div ng-controller="LoginController" style="background-color:#2196F3;">
    <h1 style="text-align:center ; color:#fff; font-family: 'Vegur-Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;">Enter Username</h1>
    <input style="border-color: #fff; margin: 0px; width: 300px; height: 50px; padding: 0px; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; text-align: center; color:#333; font-size: 20px; font-family: 'Vegur-Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;" type="text" ng-model="username"/>
    <button class="btn" style="display: block;border-color: #fff; background-color: #2196F3; color: #fff; width: 300px; height: 50px; margin-top: 20px;" ng-click="setLogin()">Go</button>
  </div>
